<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MatricaPrs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MatricaPrs.Properties.Settings>
            <setting name="prviPut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="matrica50x50" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica25x25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica150x150" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica300x300" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica600x600" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica800x800" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica1200x1200" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matrica100x100" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="matricaOstale" serializeAs="String">
                <value>2</value>
            </setting>
        </MatricaPrs.Properties.Settings>
    </userSettings>
</configuration>